body {
    margin: 0;
    padding-top: 60px; /* Height of your navbar */
  }
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    padding: 5px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar a {
    color: rgb(27, 26, 26);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 18px;
}
.navbar2 a:hover {
    background-color: #2d2d2b;
    border-radius: 5px;
}

.navbar2 a {
    color: rgb(27, 26, 26);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #2d2d2b;
    border-radius: 5px;
}

.navbar2 {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    border: 1px;
    padding: 10px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar3 {
    background-color: #5b1c87;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar3 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 12px;
}
.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
}
.content {
    margin-top: 60px; /* Ensure content is not hidden under fixed menu */
    padding: 20px;
}